@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spline+Sans+Mono');

#app {
  color: #272626;
  font-family: 'Staatliches', Helvetica, sans-serif;
  margin-left: 4em;
  margin-right: 4em;
}

.red {
  color: #FF5B5B;
}

.blue {
  color: #5B61FF;
}

.yellow {
  color: #FFED49;
}

article, aside, blockquote, body, cite,
div, dl, dt, dd, em, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img,
li, main, nav, ol, p, section, span, ul {
  margin: 0;
	padding: 0;
	vertical-align: baseline;
	box-sizing: border-box;
}

@media (max-width: 640px) {
  #app {
    margin: 20px;
  }
}