@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spline+Sans+Mono');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --red: #FF5B5B;
  --blue: #5B61FF;
  --yellow: #FFED49;
  --black: #272626;
  --light-gray: #c5c3c3;
}

#app {
  color: var(--black);
  font-family: 'Staatliches', Helvetica, sans-serif;
  margin-left: 4em;
  margin-right: 4em;
}

article, aside, blockquote, body, cite,
div, dl, dt, dd, em, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img,
li, main, nav, ol, p, section, span, ul {
  margin: 0;
	padding: 0;
	vertical-align: baseline;
	box-sizing: border-box;
}

p {
  font-family: 'Roboto', serif;
  font-weight: 300;
  line-height: 1.4rem;
}

@media (max-width: 640px) {
  #app {
    margin: 20px;
  }
}